@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    overflow-y: auto;
}

#href {
    color: blue;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 300px;
    width: 30%;
    max-width: 400px;
    height: 50px;
    background-color: #9e9e9e;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-radius: 8px;
    color: black;
}

nav span {
    display: inline-block;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    background-color: #9e8887;
}

nav span:hover {
    cursor: pointer;
    background-color: #857473;
}

.main-content {
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    min-height: 100px;
    min-width: 650px;
    width: 40%;
    max-width: 800px;
    background-color: #BBBBBB;
    padding: 20px 50px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    line-height: 150%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
}
